/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
/app/database/seeds/SentrySeeder.php
/app/config/production/*
/app/config/staging/*
/public/assets/images/uploads
.DS_Store
*.htaccess
.codekit-cache
config.codekit
/public/assets/js/min/*
public/assets/css/*
*.sass-cache*
