/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.button {
    border-radius: $brand-round;
    background: $brand-color;
    border: none;
    font-family: inherit;
    outline: none;
    padding: $base-spacing-unit / 4 $base-spacing-unit/2;
    text-decoration: none;
}