/* ==========================================================================
   $RESPONSIVE-NAV
   ========================================================================== */
.nav-toggle {
    float: right;
    @include transition(margin-right 200ms $ease-in-quad);
    @include breakpoint(medium) {
        display: none;
    }
}

.nav {
    list-style: none;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    position:absolute;
    top: $header-height;
    width: 100%;
    z-index: 2;
    a {
        display: block;
        width: 100%;
    }
    @include transition(max-height 400ms $ease-out-expo);
    @include breakpoint(medium) {
        position: static;
        margin-right: auto;
        max-height: 800px;
        height: auto;
        width: auto;
        > li {
            &,
            > a {
                display:inline-block;
               *display:inline;
               width: auto;
                zoom:1;
            }
        }
    }
}

.nav--open {
    max-height: 1000px;
}

.nav .site-logo {
    @include breakpoint(medium) {
        display: none;
    }
}


