/*------------------------------------*\
    $TEXT HELPERS
\*------------------------------------*/
.hide               { position: absolute; left: -9999px; }
.italic              { font-style: italic; }
.text-center    { text-align: center; }

.brand-color { color: $brand-color }