/*------------------------------------*\
    $CONTACT BLOCK
\*------------------------------------*/
.contact-block {
    @extend %cf;
    .zeta {
        text-transform: uppercase;
    }
    section {
        margin-bottom: $base-spacing-unit*2;
        @include breakpoint(medium) {
            @include span-columns(4);
            margin-bottom: $base-spacing-unit;
        }
    }
    section:last-child {
        @include breakpoint(medium) {
            text-align: right;
        }
    }
    p {
        margin-bottom: $base-spacing-unit/4;
        @include breakpoint(medium) {
            margin-bottom: 0;
        }
    }
    div {
        margin-bottom: $base-spacing-unit;
    }
}

.contact-block-big {
    @extend %cf;
    @extend %alpha;
    h1 {
        text-transform: uppercase;
        // @include breakpoint(medium) {
        //     float: left;
        // }
    }
    p, form {
        @include breakpoint(medium) {
            //text-align: right;
            font-size: $base-font-size * 2;
            margin: 0;
        }
    }
    section {
        clear: both;
        display: block;
    }
    div {
        margin-bottom: $base-spacing-unit*2;
    }
    .text-input {
        width: 100%;
        @include breakpoint(medium) {
            width: 50%;
        }
    }
    .button {
        width: 100%;
        @include breakpoint(medium) {
            width: auto;
        }
    }
}