/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
    background: $green;
    font-size: 0.9em;
    height: 425px;
    overflow: hidden;
    position: relative;
    width: 100%;
    @include breakpoint(medium) {
        height: 150px;
    }
    &:after {
        content: "";
        display: block;
        height: 150px;
    }
}

    .footer__content {
        @extend .cf;
        max-width: 1400px;
        margin: 0 auto;
        padding: $base-spacing-unit $base-spacing-unit / 2 0;
    }

.footer-logo {
    opacity: 0.4;
    right: 0;
    @include breakpoint(medium) {
        position: static;
        display: block;
        margin: 0 auto;
        padding:0;
        width: 200px;
        // position: absolute;
        // width: 150px;
        // height: 100px;
        // left: 50%;
        // top: 50%;
        // margin: -50px 0 0 -75px;
    }
}
