/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
/*.footer {
    background: $green;
    font-size: 0.9em;
    [>height: 425px;<]
    overflow: hidden;
    position: relative;
    width: 100%;
    @include breakpoint(medium) {
        [>height: 150px;<]
    }
    &:after {
        content: "";
        display: block;
        [>height: 150px;<]
    }
}

    .footer__content {
        [>@extend .cf;<]
        max-width: 1400px;
        margin: 0 auto;
        [>padding: $base-spacing-unit $base-spacing-unit / 2 0;<]
    }

.footer-logo {
    opacity: 0.4;
    right: 0;
    @include breakpoint(medium) {
        position: static;
        display: block;
        margin: 0 auto;
        padding:0;
        width: 200px;
        // position: absolute;
        // width: 150px;
        // height: 100px;
        // left: 50%;
        // top: 50%;
        // margin: -50px 0 0 -75px;
    }
}*/

footer {
    background: $black;
    color: $white;
    padding: $base-spacing-unit 0;
    text-align: center;
    .footer__content{
        @include outer-container;
    }
    .footer__header {
        margin-bottom: 0;
        text-transform: uppercase;
        font-size: 0.8em;
        color: $grey;
    }
    .footer-logo {
        opacity: 0.5;
        vertical-align: middle;
    }
    section {
        padding: 0 $base-spacing-unit/2;
    }
    .mailing-list {
        @include breakpoint(medium) {
            margin: 0 auto;
            max-width: 400px;
        }
    }
    .social {
        display: block;
        padding-bottom: $base-spacing-unit;
        text-align: center;
        width: 100%;
        a {
            display: inline-block;
            font-size: 1.5em;
            vertical-align: middle;
            padding: 0 3px;;
            &:before {
                display: inline-block;
                vertical-align: middle;
                margin-top: -3px;
            }
        }
    }
}
