/*------------------------------------*\
    $FORMS
\*------------------------------------*/
.mailing-list .text-input {
}

.submit {
    margin: $base-spacing-unit/4 0;
}

$combo-height: 35px;

.input-combo {
    font-size: 0.8em;
    .text-input {
        padding: $base-spacing-unit/4;
        height: $combo-height;
        border-radius: $brand-round 0 0 $brand-round;
        width: 75%;
    }
    .button {
        width: 25%;
        margin: 0;
        height: $combo-height;
        border-radius: 0 $brand-round $brand-round 0;
    }
}
