/*------------------------------------*\
    $MISC
\*------------------------------------*/
.sorted {
    list-style: none;
    margin: 0;
}

.draggable:last-child .move-down {
    display: none;
}




.copyright, .feedback {
    display: block;
    color: $black-light;
    margin: $base-spacing-unit auto 0 auto;
}