/* ==========================================================================
   $PAGE
   ========================================================================== */
html, body {
    height: 100%;
}

html {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

body {
    background: $white;
    color: $black;
    font-size: 1.3em;
    @include breakpoint(medium) {
        font-size: $base-font-size;
    }
}

.wrapper {
    min-height: 100%;
    margin-bottom: -10em;
    &:after {
        content:"";
        display: block;
        height: 10em;
    }
}





.main {
    @include outer-container;
    @include transition(opacity 200ms);
    margin: $base-spacing-unit auto $base-spacing-unit*2;
    padding: $base-spacing-unit / 2;
    position: relative;
}

.loading {
    opacity: 0;
}



article {
    @extend %cf;
    margin-bottom: $base-spacing-unit*2;
}