/* ==========================================================================
   $PAGE-HEAD
   ========================================================================== */
.page-head {
    @extend .cf;
    background: $black;
    font-family: $brand-face;
    font-weight: 300;
    font-size: 1.5em;
    text-transform: uppercase;
    color: $grey;
    overflow: hidden;
    nav {
        @include outer-container;
    }
    a {
        text-decoration: none;
    }
}

.nav__left, 
.nav__right {
    @include breakpoint(medium) {
        display: inline-block;
        vertical-align: bottom;
        width: 50%;
    }
}

.nav__right  {
    text-align: right;
    ul {
        list-style: none;
        margin: 0;
        text-align: left;
        height: 0;
        &.nav--open {
            height: auto;
        }
        @include breakpoint(medium) {
            height: auto;
            text-align: right;
        }
        li {
            @include breakpoint(medium) {
                display: inline-block;
            }
        }
        a {
            display: block;
            line-height: $header-height;
            padding: 0 $base-spacing-unit/2;
        }
    }
}


.site-logo {
    display: inline-block;
    width: 50%;
    padding: 0 $base-spacing-unit/2;
    &:after {
        content: attr(data-page);
        position: absolute;
        padding-left: $base-spacing-unit/2;
        top: 6px;
    }
    @include breakpoint(medium) {
        &:after {
            display: none;
        }
    }
    img {
        max-height: $header-height;
        vertical-align: middle;
    }
}

.nav-toggle {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    line-height: $header-height;
    text-align: right;
    padding: 0 $base-spacing-unit/2;
    /*float: right;*/
    /*@include transition(margin-right 200ms $ease-in-quad);*/
    @include breakpoint(medium) {
        display: none;
    }
}

.nav-toggle--closed:before,
.nav-toggle--open:before {
    color: $white;
    font-family: icomoon;
    display: inline-block;
}

.nav-toggle--closed:before {
    content: "\e000";
}

.nav-toggle--open:before {
    content: "\e001";
}

// Active Navigation
.media .media-nav,
.albums .albums-nav,
.tour .tour-nav,
.contact .contact-nav {
    color: $orange;
    background: $black-light;
    &:hover {
        @include breakpoint(medium) {
            background: $white;
        }
    }
    @include breakpoint(medium) {
        background: $white;
        color: $black;
    }
}
