.loader,
.load-more,
.tumblr {
    clear: both;
    margin: $base-spacing-unit auto;
    max-width: 500px;
}

.post__date {
    font-weight: bold;
    margin-bottom: $base-spacing-unit;
    border-bottom: 1px solid $grey;
}

.post__link {
    display: block;
    font-size: $milli-size;
    border-top: 1px solid $grey;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
}

.post_player {
    iframe {
        max-width: 100%;
    }
}

.post {
    margin-bottom: $base-spacing-unit * 2;
    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto $base-spacing-unit;
    }
    a {
        word-wrap: break-word;
    }
}
