/*------------------------------------*\
    $ALBUMS
\*------------------------------------*/
.media__text p {
    @include breakpoint(medium) {
        text-align: justify;
    }
}

.lyrics p, .credits p {
    margin: 5px 0;
}

.purchase {
    list-style: none;
    margin: 0;
    li {
        padding-right: $base-spacing-unit;
        @include breakpoint(medium) {
            display: inline-block;
        }
    }
    a {
        display: block;
        padding: $base-spacing-unit/2 0;
    }
    img {
        //max-width: 70%;
        max-width: 110px;
        @include breakpoint(medium) {

        }
    }
    .itunes img {
        max-width: 100%;
    }
}