@import "framework/general/normalize";
@import "framework/general/reset";
@import "framework/general/shared";

@include font-face(LeagueGothic, '/assets/fonts/league-gothic/league_gothic-webfont');

* { @include box-sizing(border-box); }

.hide {
    position: absolute;
    left: -9999px;
}

html,
body {
    height: 100%;
}

body {
    background: $black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 100%;
}

.logo {
    width: 250px;
}

.social {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    svg {
        fill: $white;
        height: 50px;
        width: 50px;
        @include transition(fill 200ms);
    }
    a {
        display: flex;
        align-items: center;
        color: $white;
        text-decoration: none;
        padding: 20px;
        &:before {
            display: inline-block;
            vertical-align: middle;
            margin-top: -3px;
        }
        @include breakpoint(large) {
            padding: 0 20px;
        }
    }

    @include breakpoint(large) {
        flex-direction: row;
    }
}

.bigcartel:hover {
    svg {
        fill: #222222;
    }
}

.bandcamp {
    svg {
        stroke: $white;
        fill: $white;
    }
    &:hover {
        svg {
            fill: #629aa9;
            stroke: #629aa9;
        }
    }
}

.facebook:hover {
    svg {
        fill: #3b5998;
    }
}
.twitter:hover {
    svg {
        fill: #00acee;
    }
}
.email:hover {
    svg {
        fill: #ff7700;
    }
}
.youtube:hover {
    svg {
        fill: #c4302b;
    }
}
