/* ==========================================================================
   $HOME
   ========================================================================== */
.home .main {
    margin-top: 0;
}

.home figure {
    text-align: center;
    z-index: -1;
    @include breakpoint(medium) {
      // position: relative;
      // top: -100px;
    }
    img {
        left: 0;
        max-width: 100%;
        opacity: 0.2;
        position: fixed;
        top: $base-spacing-unit*4;
        z-index: -1;
        @include breakpoint(medium) {
            position: static;
        }
        @include breakpoint(large) {
            max-width: 100%;
            //opacity: 0.8;
        }
        @include breakpoint(super) {
            opacity: 0.8;
        }
    }
}

.home .album-quote {
    clear: both;
    z-index: 100;
    @include breakpoint(medium) {
        position: absolute;
        max-width: 300px;
        &.album-quote--1 {
            left: $base-spacing-unit*3;
            top: $base-spacing-unit*5;
        }
        &.album-quote--2 {
            right: $base-spacing-unit*6;
            top: $base-spacing-unit*12;
        }
    }
}

.home h1 {
    margin: 0;
}

.home .epsilon {
    margin: 0;
    line-height: 1.2em;
}

.home .wrapper:after {
    display: none;
}

.home .purchase {
  text-align: center;
  li {
    padding-right: 0;

  }
}

/*------------------------------------*\
    $SOUNDCLOUD PLAYER
\*------------------------------------*/

.player-controls {
    @extend %cf;
    clear: both;
}


.sc-player {
  background-color: transparent;
  color: #333;
  line-height: 1.6em;
  opacity:.7;

}

.sc-player a {
  text-decoration: none;
  color: #333;
}

/* scrubber */

.sc-scrubber {
  background-color: #D29666;
}

.sc-scrubber .sc-time-span {
  background-color: #eeeeee;
}

.sc-scrubber .sc-time-span img {
  height: 15px;
  width: 100%;
  background-color: #D29666;;
}

.sc-scrubber .sc-buffer, .sc-scrubber .sc-played {
  background-color: #d9d9d9;
  opacity: 0.4;
}

.sc-scrubber .sc-played {
  background:black;
  border-right: 3px solid #d9d9d9;
  opacity: 0.4;
}

/* controls */



.sc-player .sc-controls a {
  //color: transparent;
  strong {
    position: absolute;
    left: -9999px;
    top: -9999px;
  }
}


// .sc-scrubber .sc-time-indicators{
//   color: #333;
//   padding-right: 10px;
//   font-size:2.5em;
// }

/* Track listings*/

.sc-player ol.sc-trackslist li {



}



.sc-player ol.sc-trackslist li.active, .sc-player ol.sc-trackslist li:hover {

}



.sc-player ol.sc-trackslist li.active a {

}

.sc-track-duration {
  text-align: right;
  float: right;
  padding: 0 5px;
  margin-left: 5px;
  display: none;
}

/* Track info*/

.sc-player .sc-info{
  background: #fff;
  opacity: 0.9;
}

.sc-player .sc-info-toggle{
  background: #fff;
  color: #003399;
  padding: 4px;
}

.sc-player .sc-info-toggle:hover{
  background: #003399;
  color: #eee;
}

.sc-player .sc-info-close{
  background: #003399;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 2px 4px;
}

/* remote control */

a.sc-remote-link {
  background: url('img/play.png') top left no-repeat;
  padding-left: 20px;
  text-decoration: none;
}

a.sc-remote-link.playing{
  background-image: url('img/pause.png');
}


.sc-player{
  width: 100%;
  height: auto;
  position: relative;
  //margin-bottom: 80px;
  float:right;
}

.sc-player ol, .sc-player li{
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.sc-volume-status {width:10% !important}

/* Artworks */

.sc-player .sc-artwork-list{
  display: none;
}

.sc-player .sc-artwork-list li{
  list-style-type: none;
  display: none;
}

.sc-player .sc-artwork-list li.active{
  list-style-type: none;
  display: block;
}

.sc-player .sc-artwork-list li img, .sc-player .sc-artwork-list li div{
  list-style-type: none;
  width: 380px;
  height: 380px;
  float: left;
  margin: 5px 0;
}

/* controls */

.sc-player .sc-controls{
    font-size: 3em;
    z-index: 5000;
    float: left;
    width: 60%;
    position: relative;
    left: -20px;
    @include breakpoint(medium) {
      font-size: 1.7em;
      width: auto;
    }
}

.sc-player .sc-controls a{
    float: left;
}

.sc-player .sc-controls a.sc-pause{
  display: none;
}

.sc-player.playing .sc-controls a.sc-play{
  display: none;
}

.sc-player.playing .sc-controls a.sc-pause{
  display: block
}


.sc-play, .sc-pause {

}
/* scrubber */

.sc-scrubber {
  height: 5px;
  width: 100%;
  margin-bottom: 20px;
}

.sc-scrubber .sc-time-span{
  height:5px;
  position: relative;
}

.sc-scrubber .sc-buffer, .sc-scrubber .sc-played{
  height: 3px;
  position: absolute;
  top: 15px;
  @include breakpoint(medium) {
    top: 10px;
    height: 2px;
  }
}

.sc-time-indicators{
    display: none;
    @include breakpoint(medium) {
        display: block;
        float: right;
        padding: 3px;
    }
}

/* tracks */

/* Track listings*/

.sc-player ol.sc-trackslist{
    list-style: none;
    font-size: 1.2em;
    float: right;
    width: 40%;
    font-family: $brand-face;
    margin-top: 12px;
    @include breakpoint(medium) {
        float: left;
        margin-top: 0;
    }
}

.sc-player ol.sc-trackslist li {
    position: absolute;
    top: 4px;
    left: -9999px;
    &.active {
        position: static;
        padding: 3px;
        margin-left: $base-spacing-unit;
    }
}

/* Track info*/

.sc-player .sc-info{
  position: absolute;
  top: 10px;
  left: -5000px;
  width : 400px;
  padding: 5px;
  height: 200px;
  z-index: 500;
  margin-left: -200px;
}

.sc-player .sc-info.active{
  left: 50%;
  top: 12%;
}


.sc-player .sc-info-toggle{
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
}

.sc-player .sc-info-toggle.active{
  left: -5000px;
}

.sc-player .sc-info-close{
  position: absolute;
  top: 10px;
  right: 20px;
}

/* utilities */

.sc-player .hidden {
  display: none;
}

.sc-player-engine-container{
  width: 1px;
  height: 1px;
  position: fixed;
  top: 2px;
  left: 2px;
}


