/*------------------------------------*\
    $PRESS
\*------------------------------------*/
.press .main {
    max-width: 900px;
}

.press blockquote, .press--admin blockquote, .albums blockquote {
    border-bottom: 1px solid $grey;
    padding-bottom: $base-spacing-unit;
}