/*------------------------------------*\
    $TOUR
\*------------------------------------*/
.reviewed {
    cursor: pointer;
    &:after {
        content: "*";
        color: $orange;
        font-size: 2em;
        position: absolute;
        left: 50px;
        @include breakpoint(medium) {
            left: $base-spacing-unit/2;
        }
    }
    &.active {
        border-top:1px solid $black !important;
    }
}

.tour-review {
    background: $black;
    border: 2px solid $black;
    color: $grey;
    overflow: visible !important;
    padding: $base-spacing-unit/2;
    position: absolute;
    text-align: right;
    display: none;
    width: 100%;
    z-index: 10;
    @include breakpoint(medium) {
        width: 50%;
    }
    &:after {
        content: "";
        position: absolute;
        top: -15px;
        left: 50px;
        border-width: 0 15px 15px;
        border-style: solid;
        border-color: $black transparent;
        display: block;
        width: 0;
    }
    a {
        text-decoration: none;
    }
}

.support {
    display: block;
    font-size: 0.7em;
}