@import "bourbon/bourbon";
@import "neat/neat";
@import "settings.scss";

/*------------------------------------*\
    $ADMIN
\*------------------------------------*/
.admin-logo {
    color: $white;
    display: inline-block;
    position: absolute;
    left: 0;
    float: left;
    top:5px;
    @include breakpoint(medium) {
        padding: $base-spacing-unit/2;
        position: static;
        margin-left: -30px;
    }
}




/****
* Page widths
****/
.admin .main {
    margin-top: 0;
    max-width: 900px;
}

.admin--login .main {
    max-width: 400px;
    margin-top: 4em;
}



/****
* Buttons
****/
.admin .button {
    display: block;
    padding: $base-spacing-unit/2 $base-spacing-unit;
    text-align: center;
    width: 100%;
    @include breakpoint(medium) {
        //width: 50%;
    }
}


.tour--admin .tour-nav--admin,
.images--admin .images-nav--admin,
.video--admin .video-nav--admin,
.press--admin .press-nav--admin {
    color: $orange;
    background: $white;
}




/****
* Forms
****/
.form-fields {
    li {
        @extend %cf;
        clear: both;
        //padding: $base-spacing-unit/2 0;
    }
    label {
        display: block;
    }
    .text-input {
        width: 100%;
    }
    .save {
        display: block;
        padding: $base-spacing-unit;
        float: left;
    }
    .cancel {
        clear: both;
        display: block;
        padding: $base-spacing-unit;
        text-align: center;
        width: 100%;
        @include breakpoint(medium) {
            text-align: left;
            clear: both;
            padding-left: 0;
        }
    }
}

.delete {
    color: red;
    background: none;
    border: none;
    display: block;
    outline: none;
    text-decoration: underline;
    padding: $base-spacing-unit 0;
    text-align: center;
    width: 100%;
    @include breakpoint(medium) {
        text-align: left;
    }
}




/****
* Login screen
****/
.admin--login {
    .page-head {
        height: 200px;
    }
    .site-logo {
        float: none;
        display: block;
        text-align: center;
        img {
            float: none;
            display: block;
            margin: 0 auto;
        }
    }
    .nav-toggle--closed:before, .nav-toggle--open:before {
        content: "";
    }
}




/****
* Alerts
****/
.alert {
    padding: $base-spacing-unit/2;
    font-size: $base-font-size *1.2;
    margin-bottom: $base-spacing-unit/2;
}

.alert-success {
    background: $green;
    color: green;
    &:before {
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        font-family: 'icomoon';
        content: "\e007";
        padding-right: 10px;
    }
}

.alert-error {
    background: $red;
    color: red;
    &:before {
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        font-family: 'icomoon';
        content: "\e008";
        padding-right: 10px;
    }
}




/****
* Images
****/
.admin .img {
    .edit {
        display: block;
    }
}




/****
* Forgot Password?
****/
.forgot {
    display: block;
    margin: $base-spacing-unit/2 0;
}
