@import "bourbon/bourbon";
@import "neat/neat";
@import "settings.scss";

/*------------------------------------*\
    $ADMIN
\*------------------------------------*/
.admin-logo {
    color: $white;
    display: inline-block;
    position: absolute;
    left: 0;
    float: left;
    top:5px;
    @include breakpoint(medium) {
        padding: $base-spacing-unit/2;
        position: static;
        margin-left: -30px;
    }
}




.admin .main {
    max-width: 900px;
}

.admin .button {
    display: block;
    padding: $base-spacing-unit/2;
    text-align: center;
    width: 100%;
}


.tour--admin .tour-nav--admin,
.pics--admin .pics-nav--admin,
.video--admin .vidoes-nav--admin {
    color: $orange;
    background: $white;
}




/****
* Forms
****/
.form-fields {
    li {
        @extend %cf;
        clear: both;
        //padding: $base-spacing-unit/2 0;
    }
    label {
        display: block;
    }
    .text-input {
        width: 100%;
    }
    .save {
        display: block;
        padding: $base-spacing-unit 0;
    }
}

.delete {
    color: red;
    background: none;
    border: none;
    outline: none;
    text-decoration: underline;
    padding: $base-spacing-unit 0;
}
