/*------------------------------------*\
    $IE STYLES (BOOOOO)
\*------------------------------------*/
body {
    font-size: 18px;
    min-width: 1100px;
}



/****
* PAGE HEAD
****/
.page-head {
    overflow: hidden;
}

.media .page-head:after,
.albums .page-head:after,
.tour .page-head:after,
.contact .page-head:after {
    content: ""
}




/****
* NAV
****/
.nav-toggle {
    display: none;
}

.nav {
    background: none;
    clear: none;
    float: right;
    position: static;
    margin-right: auto;
    max-height: 800px;
    height: auto;
    width: auto;
}

.nav>li, .nav>li>a {
    display: inline-block;
    width: auto;
    zoom: 1;
}

.media .media-nav, .albums .albums-nav, .tour .tour-nav, .contact .contact-nav {
background: #eee;
}




/****
* HOME
****/
.home .album-quote.album-quote--1 {
    left: 81px;
    top: 135px;
}

.home .album-quote.album-quote--2 {
    right: 162px;
    top: 324px;
}

.home .album-quote {
    position: absolute;
    max-width: 300px;
}

.home figure {
    margin-top:450px;
}

.home figure img {
    left: 35%;
    filter: alpha(opacity=25);
    width: 500px;
    height: auto;
    text-align: center;
}




/****
* MEDIA
****/
.image-grid .img {
    width: 24%;
    margin: 0 1% 1% 0;
}




/****
* ALBUMS
****/
.media__content {
    float: left;
    margin-right: 2%;
    width: 28%;
}

.media__text {
    overflow: hidden;
    width: 70%;
    float: right;
}




/****
* TOUR
****/
.table th {
    display: table-cell;
}

.table td {
    display: table-cell;
    width: 33.33333%;
    float: none;
    text-align: center;
}

.table td:before {
    display: none;
}




/****
* CONTACT
****/
.contact-block-big section {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%;
    clear: none;
}

.contact-block-big section:first-child + section {
    margin-right: 0;
}

.contact-block-big .social a {
    width: auto;
    display: inline-block;
    font-size: 72px;
}


/****
* FOOTER
****/
.footer {
    height: 150px;
}

.contact-block section {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-bottom: 27px;
}

.contact-block section:first-child + section + section {
    text-align: right;
    margin-right: 0;
}

.footer-logo {
    position: relative;
    top:10px;
    display: block;
    margin: 0 auto;
    padding: 0;
}